<main class="mt-3" *ngIf="product">
  <div class="container-fluid">
    <div class="row">
      <h5 class="fw-bold">Product Details :</h5>
      <hr/>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border-start border-end">
        <app-carousel></app-carousel>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 border-end">
        <h1>{{ product.title }}</h1>
        <hr/>
        <p>{{ product.description }}</p>
        <h5>Price : {{ product.price | currency: 'INR' }}</h5>
      </div>
    </div>
  </div>
</main>


