<aside class="overflow-scroll vh-100">
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="c-a nav-link accordion-button collapsed bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"><i class="fa fa-credit-card pe-3 c-fa"></i>Menu</a>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse hide ps-5" aria-labelledby="panelsStayOpen-headingTwo">
          <a class="c-a nav-link bg-white border-0 pe-2 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="c-a nav-link accordion-button collapsed bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"><i class="fa fa-credit-card pe-3 c-fa"></i>Menu</a>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse hide ps-5" aria-labelledby="panelsStayOpen-headingThree">
          <a class="c-a nav-link bg-white border-0 pe-2 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="c-a nav-link accordion-button collapsed bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne"><i class="fa fa-credit-card pe-3 c-fa"></i>Menu</a>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse hide ps-5" aria-labelledby="panelsStayOpen-headingOne">
          <a class="c-a nav-link bg-white border-0 pe-2 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="c-a nav-link bg-white text-black border-0 text-decoration-none shadow-nonec-hover" [routerLink]="['/admin-dashboard/user-section']"><i class="fa fa-user pe-3 c-fa"></i>User Section</a>
      </li>
      <li class="nav-item">
        <a class="c-a nav-link bg-white text-black border-0 text-decoration-none shadow-nonec-hover" href="javascript:void(0)"><i class="fa fa-credit-card pe-3 c-fa"></i>Menu</a>
      </li>
      <li class="nav-item">
        <a class="c-a nav-link accordion-button collapsed bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive"><i class="fa fa-credit-card pe-3 c-fa"></i>Menu</a>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse hide ps-5" aria-labelledby="panelsStayOpen-headingFive">
          <a class="c-a nav-link bg-white border-0 pe-2 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="c-a nav-link bg-white text-black border-0 text-decoration-none shadow-nonec-hover" href="javascript:void(0)"><i class="fa fa-credit-card pe-3 c-fa"></i>Menu</a>
      </li>
      <li class="nav-item">
        <a class="c-a nav-link bg-white text-black border-0 text-decoration-none shadow-nonec-hover" href="javascript:void(0)"><i class="fa fa-credit-card pe-3 c-fa"></i>Menu</a>
      </li>
      <li class="nav-item">
        <a class="c-a nav-link accordion-button collapsed bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix"><i class="fa fa-credit-card pe-3 c-fa"></i>Menu</a>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse hide ps-5" aria-labelledby="panelsStayOpen-headingSix">
          <a class="c-a nav-link bg-white border-0 pe-2 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
          <a class="c-a nav-link bg-white border-0 text-decoration-none shadow-none" href="javascript:void(0)">Menu Item</a>
        </div>
      </li>
    </ul>
  </nav>
</aside>
