<main>
  <div class="container-fluid p-0 m-0">
    <app-carousel></app-carousel>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <app-product-filter></app-product-filter>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <app-products-container></app-products-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
